# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# Sensitive data
.env
secret.json
credentials.json

# Database storage (Massive binary files)
postgres_data/
qdrant_storage/
data_raw/
data_downloads/
data_scraped/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
